@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    @apply text-sky-950;
    @apply border-sky-950;

    /* border: 1px solid red; */
}

body {
    @apply from-sky-50;
    @apply to-sky-200;
    @apply bg-gradient-to-b;
    @apply min-h-screen;
}

#waves {
    background-image: url("/images/effects/grainy.png"),
        url("/images/effects/patterns.png");
    background-size: 100%;
    background-repeat: repeat;
}

#grainy {
    z-index: 1;
}

main {
    margin: 0 32px 0 32px;
    margin-top: 40px;
}

@media (min-width: 1024px) {
    maim {
        margin: 0 64px 0 64px;
        margin-top: 80px;
    }
}

#grainy::before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("/images/effects/grainy.png");
}

a {
    @apply text-sky-900;
}
