@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#body {
    @apply from-sky-50;
    @apply to-sky-200;
    @apply bg-gradient-to-b;
    @apply min-h-screen;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 30%;

    background-image: url("/images/filters/grainy.svg");
}
