@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    @apply text-sky-950;

    /* border: 1px solid red; */
}

body {
    @apply from-sky-100;
    @apply to-sky-200;
    @apply bg-gradient-to-b;
    @apply min-h-screen;
}

#body {
    z-index: 1;
}

#body::before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("/images/effects/grainy.png");
}

a {
    @apply text-sky-900;
}

main {
    margin: 80px 64px 0 64px;
}

@media (max-width: 768px) {
    main {
        margin: 40px 32px 0 32px;
    }
}
