@tailwind base;
@tailwind components;
@tailwind utilities;

#waves {
    background-image: url("/images/effects/grainy.png"),
        url("/images/effects/patterns.png");
    background-size: 100%;
    background-repeat: repeat;
}

@layer base {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        @apply text-sky-950;
        @apply border-sky-950;

        /* border: 1px solid red; */
    }

    html {
        @apply from-sky-50 to-sky-200 bg-gradient-to-b;
        @apply flex flex-col gap-28;
    }

    body {
        @apply min-h-screen;

        background-image: url("/images/effects/grainy.png");
        background-size: 100%;
        background-repeat: repeat;
    }

    main {
        padding-top: 40px;
        @apply flex flex-col gap-32;
    }

    a {
        @apply text-sky-900;
    }

    html {
        @apply snap-mandatory;
    }

    h1 {
        @apply text-2xl font-extrabold sm:text-4xl;
    }

    h2 {
        @apply text-xl font-extrabold sm:text-2xl;
    }

    h3 {
        @apply text-lg font-extrabold sm:text-xl;
    }

    textarea,
    input {
        @apply p-4;
        @apply border-2;
        @apply border-sky-900;
        @apply bg-sky-50;
        @apply placeholder:text-sky-800;
    }

    textarea {
        @apply py-2;
        @apply h-40;
    }

    select {
        @apply p-4;
        @apply border-2;
        @apply border-sky-900;
        @apply bg-sky-50;
        @apply text-sky-800;
    }

    select option {
        @apply text-sky-800;
    }

    @media (min-width: 1024px) {
        main {
            padding-top: 80px;
        }
    }
}

@layer components {
    .nav-menu {
        @apply hidden peer-checked:flex md:flex;
        @apply gap-6 flex-col md:flex-row;
        @apply py-6 px-8 md:px-0 md:py-0;
        @apply absolute md:relative;
        @apply md:w-auto md:top-auto;
        @apply top-[85px] right-0 md:top-0 md:left-0;
        @apply w-full md:w-auto;
        @apply border-sky-950 border-b-4 md:border-0;
        @apply transition-all;
    }

    .link {
        @apply font-bold;
        @apply text-xl md:text-lg;
    }

    .link:after {
        content: "";
        display: block;
        width: 0;
        height: 3px;
        @apply bg-sky-900;
        @apply text-2xl;
        transition: width 0.5s;
    }

    .link:hover:after {
        width: 100%;
    }

    .laptop-flex {
        @apply flex justify-between;
        @apply flex-col lg:flex-row;
    }

    .p-vertical {
        padding: 0 64px 0 64px;
    }

    @media (max-width: 1024px) {
        .nav-menu {
            background-image: url("/images/effects/grainy.png"),
                url("/images/effects/patterns.png");
            background-size: 100%;
            background-repeat: repeat;
            @apply bg-sky-100;
        }

        .p-vertical {
            padding: 0 32px 0 32px;
        }
    }

    .paragraph {
        padding-left: 32px;
    }

    .transition-500 {
        @apply transition-all duration-500;
    }
}

@layer utilities {
    .item::before {
        content: ". ";
        font-size: 32px;
    }

    ::-webkit-scrollbar {
        @apply w-2;
    }

    ::-webkit-scrollbar-track {
        @apply bg-sky-100;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-sky-900;
    }
}
